<!DOCTYPE html><!-- Informa al navegador qué versión de HTML (o XML) se usó para escribir el documento. -->
<html lang="es"><!-- Indica el comienzo del documento HTML y establece el idioma del contenido en español. -->
<head><!-- Indica el comienzo de la sección del encabezado, que contiene metadatos sobre el documento. -->
    <meta charset="UTF-8"><!-- Establece la codificación de caracteres del documento a UTF-8, lo que permite 
        representar la mayoría de los caracteres de forma correcta. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Configura el viewport para 
    que el ancho de la página sea igual al ancho de la ventana del navegador y escala inicial de 1.0, lo 
    cual es esencial para que las páginas se vean bien en dispositivos móviles. -->
    <title>Document</title><!-- Establece el título del documento que se mostrará en la pestaña del navegador. -->
    <link rel="stylesheet" href="/CSS/style.css"><!-- Vincula una hoja de estilos CSS externa para aplicar 
        estilos al documento. -->
</head><!-- Indica el cierre de la sección del encabezado. -->
<body><!-- Contiene todo el contenido visible de la página, como texto, imágenes, videos, formularios, etc. -->
    <video autoplay loop muted id="videoFondo"><!-- Inserta un elemento de video que se reproduce automáticamente,
         en bucle y sin sonido, con el ID "videoFondo". -->
        <source src="/video/GOW.mp4" type="video/mp4"><!-- Especifica el archivo de video y su tipo. 
         En este caso, es un archivo MP4. -->
    </video>
    <div class="hijo"><!-- Un contenedor div con la clase "hijo" para estilizar el contenido interior. -->
        <h1 class="titulo2">Error bobis</h1><!-- Un encabezado h1 con la clase "titulo2" que muestra un mensaje
             de error. -->
    </div>
</body><!-- Indica el cierre del cuerpo del documento. -->
</html><!-- Indica el cierre del documento HTML. -->